{% block content_i %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Агрегатор открытых данных по обр. учреждениям</h1>
        <p class="lead">С помощью этого инструмента вы сможете найти любые интересующие вас официальные документы</p>
        <hr class="my-4">
        <p>Прочтите краткую инструкцию для использования агрегатора</p>
        <p class="lead">
          <a class="btn btn-tean btn-lg" href="#" role="button">Learn more</a>
          <a class="btn btn-tean btn-lg" href="#" role="button">Skip</a>
        </p>
      </div>
</div>
{% endblock_i %}